{{ form_start(form) }}
	{{ form_rest(form) }}

	<div class="help">
		<span>Info</span>
		<p>If you have a Gift Voucher enter the code here and press 'Apply'. Only one Gift Voucher can be used per transaction.</p>
	</div>
	<button type="submit">Add Voucher</button>
{{ form_end(form) }}