<div class="tender-voucher">
	<form action="" method="post" id="find-voucher">
		<label for="voucher">Please enter or type a voucher's code below:</label>
		<input type="text" id="voucher" name="voucher[voucher_id]" value="" />
		<button name="find_voucher" id="find_voucher" type="voucher[submit]">Search</button>
	</form>

	{#	<?php if($voucher = $control->getVoucherDetail()): ?>
			<div class="result">
				<form action="<?php echo $_SERVER['REQUEST_URI']; ?>" method="post" class="use">
					<input type="hidden" name="add[code][<?php echo $voucher['voucher_code']; ?>]" value="<?php echo number_format($voucher['balance'],2); ?>" />
					<button name="add[submit]" id="add" value="Use">Use</button>
				</form>
				<ul>
					<li><strong><?php echo $voucher['voucher_code']; ?></strong><em>Created on <?php echo date("d/m/Y",$voucher['created_date']); ?></em></li>
					<li></li>
					<li><span>Original Value:</span> <span>&pound;<?php echo number_format($voucher['original_value'],2); ?></span></li>
					<li><span>Balance:</span> <span><b>&pound;<?php echo number_format($voucher['balance'],2); ?></b></span></li>
				</ul>
			</div>
			<?php endif; ?>
			<ul class="payment-listing">
				<?php foreach($control->getVoucherPayments() as $code => $payment): ?>
				<li id="voucher-<?php echo $payment->getCode(); ?>">
					<form action="<?php echo $_SERVER['REQUEST_URI']; ?>" method="post" class="remove">
						<input type="hidden" name="remove[code][<?php echo $payment->getCode(); ?>]" value="<?php echo number_format($payment->getValue(Locale::instance()->getCurrencyID(false)),2); ?>" />
						<button name="remove[submit]" id="remove" value="Remove">Remove</button>
					</form>
					<ul>
						<li><strong><?php echo $payment->getCode(); ?></strong><em>Created on <?php echo date('d/m/Y', strtotime($payment->getCreatedDate())); ?></em></li>
						<li></li>
						<li><span>Original Value:</span> <span>&pound;<?php echo number_format($payment->getOriginalValue(Locale::instance()->getCurrencyID(false)),2); ?></span></li>
						<li><span>Balance:</span> <span><b>&pound;<?php echo number_format($payment->getValue(Locale::instance()->getCurrencyID(false)), 2); ?></b></span></li>
					</ul>
				</li>
				<?php endforeach; ?>
			</ul>
	#}
</div>