{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}
{% block sidebar %}
	{{ render(controller('Message:Mothership:Voucher::Controller:ControlPanel#sidebar')) }}
{% endblock %}
{% block main %}
	<div class="title">
		<h1>Add a new voucher</h1>
	</div>
	<div class="container-content">
		{{ form_start(form, { 'attr': {'class': 'create-voucher'} }) }}
			{{ form_rest(form) }}
			<button type="submit" class="button save small" id="save-content">Create voucher</button>
		{{ form_end(form) }}
	</div>
{% endblock %}