{% extends 'Message:Mothership:ControlPanel::_templates:cp' %}

{% block content %}
{{ form_start(form) }}
<div class="topbar">
	<h1>Create a new voucher</h1>

	<button type="submit" class="button save small">Create voucher</button>
</div>

{{ form_end(form) }}
{% endblock %}